.card-container{
    width: 260px;
    background-color: #5d15f5;
    border: 1px solid #5d15f5;
    border-bottom-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    cursor: pointer;
    transition: background-color 400ms ease-in-out;
    

}
.card-container>.movie-img,.movie-img>img{
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 1.7rem;
    transition: all 400ms ease-in-out;
    overflow: hidden;
}
.movie-img>img{
    height: 300px;
}
.card-container h3{
margin-bottom: 1rem;
font-size: 2.2rem;
font-weight: 600;
text-align: center;
}

.movie-text{
    padding: 2rem .5rem;
}
.card-container:hover{
background-color: transparent;
}
.card-container:hover .movie-img>img{
    transform: scale(1.02);
}